[submodule "home-manager"]
	path = pkgs/home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs-channels"]
	path = pkgs/nixpkgs-channels
	url = https://github.com/NixOS/nixpkgs-channels
[submodule "users/alex3rd/dotfiles/dev/emacs/yasnippet-snippets"]
	path = users/alex3rd/config/dev/emacs/yasnippet-snippets/yasnippet-snippets
	url = https://github.com/wiedzmin/yasnippet-snippets
