[submodule "pkgs/forges/github.com/wiedzmin/yasnippet-snippets"]
	path = pkgs/forges/github.com/wiedzmin/yasnippet-snippets
	url = https://github.com/wiedzmin/yasnippet-snippets
[submodule "pkgs/forges/github.com/rycee/home-manager"]
	path = pkgs/forges/github.com/rycee/home-manager
	url = https://github.com/rycee/home-manager
[submodule "pkgs/forges/github.com/NixOS/nixpkgs-channels"]
	path = pkgs/forges/github.com/NixOS/nixpkgs-channels
	url = https://github.com/NixOS/nixpkgs-channels
[submodule "pkgs/forges/github.com/wiedzmin/home-manager"]
	path = pkgs/forges/github.com/wiedzmin/home-manager
	url = https://github.com/wiedzmin/home-manager
[submodule "pkgs/forges/github.com/wiedzmin/nixpkgs"]
	path = pkgs/forges/github.com/wiedzmin/nixpkgs
	url = https://github.com/wiedzmin/nixpkgs
[submodule "pkgs/forges/github.com/NixOS/nixos-hardware"]
	path = pkgs/forges/github.com/NixOS/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware
