@define-color fg_active #dcdccc;
@define-color fg_insensitive #dcdccc;
@define-color fg_normal #dcdccc;
@define-color fg_prelight #dcdccc;
@define-color fg_selected #dcdccc;

@define-color bg_active #2e3330;
@define-color bg_insensitive #3f3f3f;
@define-color bg_normal #3f3f3f;
@define-color bg_prelight #2e3330;
@define-color bg_selected #2e3330;

@define-color base_active #2e3330;
@define-color base_insensitive #303030;
@define-color base_normal #333333;
@define-color base_prelight #1e2320;
@define-color base_selected #1e2320;

@define-color text_active #fcfcfc;
@define-color text_insensitive #fcfcfc;
@define-color text_normal #fcfcfc;
@define-color text_prelight #fcfcfc;
@define-color text_selected #fcfcfc;

* {
    -GtkButton-default-border        : 0;
    -GtkButton-default-outside-border: 0;
    -GtkButton-child-displacement-x  : 0;
    -GtkButton-child-displacement-y  : 1;
    -GtkCheckButton-indicator-size   : 8;
    -GtkMenuBar-internal-padding     : 1;
    -GtkMenuBar-shadow-type          : out;
    -GtkPaned-handle-size            : 4;
    -GtkRange-slider-width           : 12;
    -GtkRange-stepper-size           : 10;
    -GtkRange-stepper-spacing        : 0;
    -GtkRange-trough-border          : 0;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-secondary-backward-stepper: false;
    -GtkScrollbar-min-slider-length  : 10;
    -GtkToolbar-shadow-type          : out;
    -GtkWidget-cursor-aspect-ratio   : 0.1;


    border-width: 1px 1px;

    color: @fg_normal;
    background-color: @bg_normal;
    border-color: darker(@bg_normal);
}

*:active {
    color: @fg_active;
    background-color: @bg_active;
    border-color: darker(@bg_active);
}

*:disabled {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
    border-color: darker(@bg_insensitive);
    text-shadow: 1px 1px white;
}

*:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
    border-color: darker(@bg_prelight);
}

*:selected {
    color: @fg_selected;
    background-color: @bg_selected;
    border-color: darker(@bg_selected);
}

.view, .entry {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.view:active, .entry:active {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_normal);
}

.view:disabled, .entry:disabled {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_normal);
}

.view:hover, .entry:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_normal);
}

.view:selected, .entry:selected {
    color: @text_selected;
    background-color: @base_selected;
    border-color: darker(@bg_normal);
}

.view row:nth-child(odd) {
    background-color: shade(@base_normal, 0.93);
}

.view row:nth-child(odd):active {
    background-color: shade(@base_active, 0.93);
}

.view row:nth-child(odd):disabled {
    background-color: shade(@base_insensitive, 0.93);
}

.view row:nth-child(odd):hover {
    background-color: shade(@base_prelight, 0.93);
}

.view row:nth-child(odd):selected {
    background-color: shade(@base_selected, 0.93);
}

GtkCalendar {
    color: @text_normal;
}

.header {
    color: @fg_normal;
}

GtkCalendar:active {
    color: @text_active;
}

GtkCalendar:disabled {
    color: @text_insensitive;
}

GtkCalendar:hover {
    color: @text_prelight;
}

GtkCalendar:selected {
    color: @text_selected;
}

.highlight {
    color: @text_active;
    background-color: @base_active;
}

GtkCalendar:indeterminate {
    color: mix(lighter(@bg_normal), darker(@bg_normal), 0.5);
}

GtkCalendar:selected {
    color: @text_active;
    background-color: @base_active;
}

.check, .radio {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:active, .radio:active {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:disabled, .radio:disabled {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.check:hover, .radio:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_prelight);
}

.check:selected, .radio:selected {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_active);
}

.check:indeterminate, .radio:indeterminate {
    color: @fg_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:disabled:indeterminate, .radio:disabled:indeterminate {
    color: @fg_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.cell {
    color: @text_normal;
}

.cell:active {
    color: @text_active;
}

.cell:disabled {
    color: @text_insensitive;
}

.cell:hover {
    color: @text_prelight;
}

.cell:selected {
    color: @text_selected;
}

.spinbutton.button {
    color: @fg_normal;
    background-color: @bg_normal;
}

.spinbutton.button:active {
    color: @fg_active;
    background-color: @bg_active;
}

.spinbutton.button:disabled {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
}

.spinbutton.button:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
}

.spinbutton.button:selected {
    color: @fg_selected;
    background-color: @bg_selected;
}

.progressbar {
    background-color: @bg_prelight;
    border-color: darker(@bg_prelight);

    border-width: 1px 1px;
}

.scale.trough, .scrollbar.trough {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 1.0)), to(shade(@bg_active, 1.25)));
    border-color: darker(@bg_active);
}

.trough.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 1.0)), to(shade(@bg_active, 1.25)));
    border-color: darker(@bg_active);
}

.notebook tab, .notebook tab * {
    color: @fg_active;
    background-color: @bg_active;
    border-color: darker(@bg_active);
}

.notebook tab:active, .notebook tab *:active {
    color: @fg_normal;
    background-color: @bg_normal;
    border-color: darker(@bg_normal);
}

.expander {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:active {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:disabled {
    color: @base_insensitive;
    border-color: @fg_insensitive;
}

.expander:hover {
    color: @fg_prelight;
    border-color: @fg_prelight;
}

.expander:selected {
    color: @base_selected;
    border-color: @fg_selected;
}

GtkComboBox {
    padding: 0px;
}

GtkComboBox .button {
    padding: 1px;
}

.radio {
    -GtkCheckButton-indicator-size: 10;
}

.menuitem {
    border-width: 1px 2px;
}

.button, .slider.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_normal, 1.25)), to(shade(@bg_normal, 1.0)));
}

.button:active, .slider.horizontal:active {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 1.0)), to(shade(@bg_active, 1.25)));
}

.button:disabled, .slider.horizontal:disabled {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_insensitive, 1.25)), to(shade(@bg_insensitive, 1.0)));
}

.button:hover, .slider.horizontal:hover {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_prelight, 1.25)), to(shade(@bg_prelight, 1.0)));
}

.button:selected, .slider.horizontal:selected {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_selected, 1.0)), to(shade(@bg_selected, 1.25)));
}

.menuitem {
    border-width: 1px 1px;
}

.menuitem:hover {
    border-style: solid;
}

.slider.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_normal, 1.25)), to(shade(@bg_normal, 1.0)));
}

.slider.vertical:active {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 1.0)), to(shade(@bg_active, 1.25)));
}

.slider.vertical:disabled {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_insensitive, 1.25)), to(shade(@bg_insensitive, 1.0)));
}

.slider.vertical:hover {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_prelight, 1.25)), to(shade(@bg_prelight, 1.0)));
}

.slider.vertical:selected {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_selected, 1.0)), to(shade(@bg_selected, 1.25)));
}
