# reference ignore list / inspired by Github
*.o
*.ko
*.so
*.obj
*.elf

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
#.x86_64
*.hex
*.dSYM/

# emacs
*~
\#*\#
*.elc
auto-save-list
.\#*

# Autotools
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4
/stamp-h1

# various
.DS_Store
*.out
/.DS_Store
*.swp
cache/*
page_cache/*
*.patch
.agignore
.dir-locals.el
